snippet todo "Todo reminder" b
<!-- TODO: ${1:desc} `!v strftime("%x")` -->
endsnippet

snippet script "HTML <script>" !
<script type="text/javascript">
$0
</script>
endsnippet

snippet scriptsrc "HTML <script src...>" !
<script src="$1" type="text/javascript"></script>
endsnippet

snippet img "img tag"
<img src="$1" width="$2" height="$3" alt="$4" />
endsnippet
