snippet t "A simple HTML tag" b
<${1:div}>
    ${VISUAL}Hello World
</${1/(\w+).*/$1/}>
endsnippet

snippet todo "Todo reminder" b
<!-- TODO: `echo $USER` ${1:desc} `!v strftime("%c")` -->
endsnippet
